body {
    display: flex;
    justify-content: center;
    background-color: #ede4c4;
}
h1 {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #ff7b49;
    color: beige;
}
label {
    width: 110px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
}
fieldset {
    margin-bottom: 20px;
    background-color: #fdff9c;
}
.submit {
    background-color: #a5f772;
}
.reset {
    background-color: #fb7979;
}
.main {
    box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.3);
    padding-bottom: 30px;
}